# Rename this file to secrets.toml and fill in your actual credentials.
# This file is ignored by Git, keeping your keys safe.

BEARER_TOKEN = "your bearer token"
API_URL = "https://blueverse-foundry.ltimindtree.com/chatservice/chat"
SPACE_NAME = "your_space_name_here"
FLOW_ID = "your_flow_id_here"
